@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(210 210 219);
  background-color: rgb(14 24 27);
}

input {
  color: rgb(210 210 219);
}

.navigation-bar-background {
  background-color: rgba(15, 32, 39, 1);
  /* Weitere Stile wie Breite, Höhe etc. können hier hinzugefügt werden */
}

.top-bar-background {
  background-color: rgba(32, 58, 67, 1);
  /* Zusätzliche Styling-Optionen wie Höhe, Schatten usw. */
}

.key-wheel {
  position: relative;
  width: 147px; /* 70% of 210px */
  height: 245px; /* 70% of 350px */
  border-radius: 50%;
  margin: 20px;
}

.key-wheel-segment-outer {
  position: absolute;
  width: 62.3px; /* 70% of 89px */
  height: 117.6px; /* 70% of 168px */
  left: 50%;
  transform-origin: bottom center;
  text-align: center;
  clip-path: polygon(0% 0, 100% 0, 82% 35%, 17% 35%);
}

.key-wheel-segment-inner {
  position: absolute;
  width: 39.9px; /* 70% of 57px */
  height: 75.6px; /* 70% of 108px */
  left: 57.5%; /* Adjust as needed */
  top: 17%; /* Adjust as needed */
  transform-origin: bottom center;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 66% 71%, 37% 71%);
}

.selected {
  background-color: rgb(76, 76, 76) !important;
}

.key-wheel-center {
  position: absolute;
  width: 35px; /* 70% of 50px */
  height: 21px; /* 70% of 30px */
  text-align: center;
  left: 71%; /* Adjust as needed */
  top: 47%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  font-size: large; /* Adjust if necessary */
}

.printable {
  visibility: hidden;
  display: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable {
    display: block;
  }
  .printable, .printable * {
    visibility: visible;
  }
  .printable {
    position: absolute;
    left: 0;
    top: 0;
  }
}
