@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(210 210 219);
  background-color: rgb(14 24 27);
}

input {
  color: rgb(210 210 219);
}

.navigation-bar-background {
  background-color: rgba(15, 32, 39, 1);
  /* Weitere Stile wie Breite, Höhe etc. können hier hinzugefügt werden */
}

.top-bar-background {
  background-color: rgba(32, 58, 67, 1);
  /* Zusätzliche Styling-Optionen wie Höhe, Schatten usw. */
}

.key-wheel {
  position: relative;
  width: 210px;
  height: 350px;
  border-radius: 50%;
  margin: 20px;
}

.key-wheel-segment-outer {
  position: absolute;
  width: 89px;
  height: 168px;
  left: 50%;
  transform-origin: bottom center;
  text-align: center;
  cursor: pointer;
  clip-path: polygon(0% 0, 100% 0, 82% 35%, 17% 35%);
}

.key-wheel-segment-inner {
  position: absolute;
  width: 57px;
  height: 108px;
  left: 57.5%;
  top: 17%;
  transform-origin: bottom center;
  text-align: center;
  cursor: pointer;
  clip-path: polygon(0% 0%, 100% 0%, 66% 71%, 37% 71%);
}

.selected {
  background-color: rgb(76, 76, 76) !important;
}

.key-wheel-center {
  position: absolute;
  width: 50px;
  height: 30px;
  text-align: center;
  left: 71%;
  top: 47%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: x-large;
}